Repository NREL/reVRt, pull requests merged in 2025-09, with the labels that each got.

#131 Minor updates post OSS
  .github/workflows/docs.yml
  CITATION.cff
  README.rst
  pixi.lock
  revrt/costs/dry_costs_creator.py
Labels: chore, p-high

#132 Fixing docs GHA
  .github/workflows/docs.yml
Labels: bugfix, p-high, github_actions

#140 Loading token to use with cargo
  .github/workflows/release-rust.yml
  Cargo.lock
  Cargo.toml
Labels: chore, rust

#141 Publishing client c0.0.6
  .github/workflows/release-rust.yml
  Cargo.lock
  crates/cli/Cargo.toml
Labels: chore, p-medium, rust

#143 Release pypi
  .github/workflows/release-python.yml
  pixi.lock
  pyproject.toml
Labels: chore, github_actions

#144 Fixing PyPI release
  .github/workflows/release-python.yml
Labels: chore
